<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/aboutheader.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <link rel="stylesheet" href="/javascripts/lightbox.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="/javascripts/lightbox-plus-jquery.min.js"></script>
</head>
<body>
<section class="header"> 
    <nav>
        <a href="/"><img src="/images/a22b5e12c9264c7db20f00daa5d829f9.png" alt="Company Logo"></a>
        <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul> 
                    <li><a href="/">HOME</a></li>
                    <li class="active"><a href="#">ABOUT </a></li>
                    <li><a href="/products">PRODUCTS</a></li>
                    <li></i><a href="/contact"> CONTACT</a></li>
                </ul>
            </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
<div class="text-box">
    <h1>About Us</h1>
    <p>We have devised several stragies revolving around the quality of products
        They primarily pertain to the inspections we run on our products before releasing
        them to the market and for this purpose you can trust we have a slew of experts with 
        intensive knowledge of our products 
    </p>
</div>
</section>

<section class="about-us">
    <div class="row">
        <div class="about-col" data-aos="fade-right">
            <h1>WHY CHOOSE US</h1>
            <p>AB Essiens Farm is a family-owned and operated compamy,
            Providing fresh shell eggs, eggs products, all sorts of fishes,
            a wide range crops all of which are 100% organic to supermarkets,
            restaurants and food manufactures.</p>
            <div class="about-cols">
                <div class="slider-indicator">
                    <h3 class="actives" data-id="0"> Our Farms </h3>
                    <h3 data-id="1"> Our Products </h3>
                    <h3 data-id="2"> Our Team </h3>
                </div>
                <div class="mini-row">
                    <div class="mini-about-col actives">
                        <p>Them to the market and for this purpose you can trust 
                        we have a slew of experts with intensive knowledge of our 
                        product intensive knowledge of our product
                        Cum nomen prarere, omnes peses amor pius, rusticus racanaes. Ubi est mirabilis gemna? 
                        Cum gabalium velum, omnes fugaesUbi est peritus devatio? A falsis, adelphis peritus apolloniates. Est raptus clabulare, 
                        cesaris. Cum pulchritudine manducare, omnes genetrixes captis bassus</p>    
                    </div>
                    <div class="mini-about-col">
                        <p>Providing fresh shell eggs, eggs products, all sorts of fishes, a wide range crops all of which are 100% organic supermarkets,
                            restaurThem to the market and for this purpose you can trust 
                            we have a slew of experts with intensive knowledge of our 
                            product intensive knowledge of our productants and food manufactures.</p>
                    </div>
                    <div class="mini-about-col">
                        <p>ProviCum nomen prarere, omnes peses amor pius, rusticus racanaes. Ubi est mirabilis gemna? 
                        Cum gading fresh shell eggs, eggs products, all sorts of fishes, a wide range crops all of which are 100% organic supermarkets,
                        restaurants and food manufactures.</p>
                    </div>
                </div>
            </div>
            <a class="hero-btn1" href="/about">Read More</a>     
        </div>
        <div class="about-col image" data-aos="fade-up">
            <img src="/images/1.jpg" alt="image about the company" id="ProductImg" >

            <div class="small-img-row">
                <div class="small-img-col">
                    <img src="/images/1.jpg" alt="" class="small-img"> 
                </div>
                <div class="small-img-col">
                    <img src="/images/11.jpg" alt="" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="/images/22.jpg" alt="" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="/images/33.jpg" alt="" class="small-img">
                </div>
            </div>
        </div>
    </div>  
</section>


<section class="containers"  id="services">
    <div class="services" data-aos="fade-up">
        <h1>WHAT WE OFFER</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas auctor vitae felis. Mauris nibh diam, pharetra eu nunc id, lobortis faucibus purus. P raesent sit amet urna id velit dignissim pellentesque.</p>

    </div>
    <div class="rows">
        <div class="row1">
            <div class="col-md-3 left" data-aos="fade-right">
                <div class="icon-left">
                    <div class="icon-b">
                        <h1>01</h1>
                    </div>
                    <div class="icon-a">
                        <img src="/images/clients-1-120x114.png" alt="">
                    </div>
                </div>
                <h3>ORGANIC FOODS</h3>
                <p>Cur tantas regiones barbarorum peat dibus obiit, tregiones barbarorum peat dibus obiit, tot mariata</p>
            </div>
            <span class="span1" data-aos="fade-up"></span>
            <div class="col-md-3 left" data-aos="fade-right">
                <div class="icon-left">
                    <div class="icon-b">
                        <h1>02</h1>
                    </div>
                    <div class="icon-a">
                        <img src="/images/clients-2-105x118.png" alt="">
                    </div>
                </div>
                <h3>HEALTHY FOR YOU</h3>
                <p>Cur tantas regiones barbarorum peat dibus obiit, tregiones barbarorum peat dibus obiit, tot mariata</p>
            </div>
        </div>
        <img src="/images/services.png" alt="" class="mid-img" data-aos="fade-up"> 
        <div class="row2">
            <div class="col-md-3 right" data-aos="fade-left">
                <div class="icon-right">
                    <div class="icon-b">
                        <h1>03</h1>
                    </div>
                    <div class="icon-a">
                        <img src="/images/clients-3-111x98.png" alt="">
                    </div>
                </div>
                <h3>BEST LIVESTOCK</h3>
                <p>Cur tantas regiones barbarorum peat dibus obiit, tregiones barbarorum peat dibus obiit, tot mariata</p>
            </div>
            <span class="span1" data-aos="fade-up"></span>
            <div class="col-md-3 right" data-aos="fade-left">       
                <div class="icon-right">
                    <div class="icon-b">
                        <h1>04</h1>
                    </div>
                    <div class="icon-a">
                        <img src="/images/clients-4-122x92.png" alt="">
                    </div>
                </div>
                <h3>NATURAL FEED</h3>
                <p>Cur tantas regiones barbarorum peat dibus obiit, tregiones barbarorum peat dibus obiit, tot mariata</p>
            </div>
        </div>
    </div>
</section>

<section class="gallery-box" id="gallery">
    <input type="radio" name="photos" id="check1" checked>
    <input type="radio" name="photos" id="check2">
    <input type="radio" name="photos" id="check3">
    <input type="radio" name="photos" id="check4">

    <div class="containerss">
        <h1 data-aos="fade-left">OUR GALLERY</h1>
        <div class="top-content" data-aos="fade-right">
            <h3>Gallery</h3>
            <label for="check1">All</label>
            <label for="check2">Farm photos</label>
            <label for="check3">Staff photos</label>
            <label for="check4">Videos</label>
        </div>

        <div class="photo-gallery" data-aos="fade-up">
            <div class="pic farm">
                <a href="/images/g1.jpg" data-lightbox="mygallery"><img src="/images/g1 - Copy.jpg" alt=""> </a>
            </div>
            <div class="pic staff">
                <a href="/images/g2.jpg" data-lightbox="mygallery"><img src="/images/g2 - Copy.jpg" alt=""> </a>
            </div>
            <div class="pic farm">
                <a href="/images/g3.jpg" data-lightbox="mygallery"><img src="/images/g3 - Copy.jpg" alt=""> </a>
            </div>
            <div class="pic farm">
                <a href="/images/g4.jpg" data-lightbox="mygallery"><img src="/images/g4 - Copy.jpg" alt=""> </a>
            </div>
            <div class="pic farm">
                <a href="/images/thumbs4.png" data-lightbox="mygallery"><img src="/images/thumbs4.png" alt=""> </a>
            </div>
            <div class="pic farm">
                <a href="/images/g6.jpg" data-lightbox="mygallery"><img src="/images/g6 - Copy.jpg" alt=""> </a>
            </div>
            <div class="pic farm">
                <a href="/images/g7.jpg" data-lightbox="mygallery"><img src="/images/g7 - Copy.jpg" alt=""> </a>
            </div>
            <div class="pic staff">
                <a href="/images/g10.jpg" data-lightbox="mygallery"><img src="/images/g10 - Copy.jpg" alt=""> </a>
            </div>
            <div class="pic staff">
                <a href="/images/g9.jpg" data-lightbox="mygallery"><img src="/images/g9 - Copy.jpg" alt=""> </a>
            </div>
            <div class="pic videos">
                <a href="/images/vid1.mp4" ><img src="/images/thumbs1.png" alt=""> </a>
            </div>
            <div class="pic videos">
                <a href="/images/vid2.mp4" ><img src="/images/thumbs2.png" alt=""> </a>
            </div>
            <div class="pic videos">
                <a href="/images/vid3.mp4" ><img src="/images/thumbs3.png" alt=""> </a>
    </div>
</section>

<footer>
    <div class="footer-content" data-aos="fade-left">
        <h3>ABs Farm</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas auctor vitae felis. 
        Mauris</p>
        <ul class="socials">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>  
            <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>    
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2021 ABs Farm</p>
    </div>
</footer>
    
<script>

    var navLinks = document.getElementById("navLinks")

    function showMenu(){
        navLinks.style.right = "0px";
    }

    function hideMenu(){
        navLinks.style.right = "-200px";
    }
</script>

<script>
    var ProductImg = document.getElementById("ProductImg");
    var SmallImg = document.getElementsByClassName("small-img");


        SmallImg[0].onclick = function() {
            ProductImg.src = SmallImg[0].src;
        }
        SmallImg[1].onclick = function() {
            ProductImg.src = SmallImg[1].src;
        }
        SmallImg[2].onclick = function() {
            ProductImg.src = SmallImg[2].src;
        }
        SmallImg[3].onclick = function() {
            ProductImg.src = SmallImg[3].src;
        }
</script>


<script>
    

   const slides=document.querySelector(".mini-row").children;
   const indicatorImages=document.querySelector(".slider-indicator").children;

    for(let i=0; i<indicatorImages.length; i++){
    	indicatorImages[i].addEventListener("click",function(){
         
           for(let j=0; j<indicatorImages.length; j++){
             indicatorImages[j].classList.remove("actives");
           }
            this.classList.add("actives");
            const id=this.getAttribute("data-id");
           for(let j=0; j<slides.length; j++){
           	slides[j].classList.remove("actives");
           }

            slides[id].classList.add("actives");

    	})
    }

</script>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    offset: 150,
    delay: 0, 
    duration: 800
  });
</script>

</body>
</html>