<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
</head>
<body>
<section class="header">
    <nav>
        <a href="/"><img src="/images/a22b5e12c9264c7db20f00daa5d829f9.png" alt="Company Logo"></a>
        <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul> 
                    <li class="active"><a href="/"> HOME</a></li>
                    <li><a href="/about"> ABOUT </a></li>
                    <li><a href="/products">PRODUCTS</a></li>
                    <li></i><a href="/contact">CONTACT</a></li>
                </ul>
            </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
<div class="text-box">
    <h1>Premium Farm Produce 100% Organic</h1>
    <p>Creating a sustainable environment with technological advancements to give our customers a wide variety 
    of diary products, from organic milk to butter and cheese
    </p>
    <a href="/contact" class="hero-btn">Visit Us to Know More</a>
</div>
</section>  
<section class="about-us" id="discover">
    <div class="rowws">
        <div class="aboutt-col"  data-aos="fade-left">
            <h1>Discover our story</h1>
            <p>AB Essiens Farm is a family-owned and operated compamy,
            Providing fresh shell eggs, eggs products, all sorts of fishes,
            a wide range crops all of which are 100% organic to supermarkets,
            restaurants and food manufactures.</p>
            <a class="hero-btn10" href="/about">Read More</a>     
        </div>
        <div class="aboutt-col"  data-aos="fade-right">
            <img src="/images/dan-meyers-IQVFVH0ajag-unsplash.jpg" alt="image about the company" id="ProductImg" >
        </div>
    </div>
    <a class="hero-btn12" href="/about">Read More</a>     
</section>
<section class="ctar">
    <h1 data-aos="fade-up">A Virtual Tour</h1>
    <p data-aos="fade-left">Our farm strictly combines the traditions of organic farming with 
         the latest innovations to make  our healthy and safe for the clients.</p>
    <a href="/about" class="hero-btn2" data-aos="fade-down">VIEW GALLERY</a>
</section>
<section class="produce">
    <div class="rowss">
        <div class="produce-col">
            <section class="product-banner" data-aos="fade-right">
                <h1>Organic <br> Fruits</h1>
            </section> 
        </div>
        <div class="produce-col">
            <div class="produce-img-row">
                <div class="produce-img-col" data-aos="fade-left">
                    <div class="about">
                        <img src="/images/product-1-270x280.png" alt="" class="small-imgs"> 
                    </div>
                    <div class="about">
                        <h5>Apples</h5>
                        <p>₦ 3500.00</p>
                    </div>
                </div>
                <div class="produce-img-col" data-aos="fade-left">
                    <div class="about">
                        <img src="/images/product-2-270x280.png" alt="" class="small-imgs"> 
                    </div>
                    <div class="about">
                        <h5>Grapes</h5>
                        <p>₦ 8300.00</p>
                    </div>
                </div>
                <div class="produce-img-col" data-aos="fade-left">
                    <div class="about">
                        <img src="/images/product-3-270x280.png" alt="" class="small-imgs"> 
                    </div>
                    <div class="about">
                        <h5>Oranges</h5>
                        <p>₦ 2000.00</p>
                    </div>
                </div>
                <div class="produce-img-col" data-aos="fade-left">
                    <div class="about">
                        <img src="/images/product-4-270x280.png" alt="" class="small-imgs"> 
                    </div>
                    <div class="about">
                        <h5>Kiwi</h5>
                        <p>₦ 5900.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ctas">
    <h1 data-aos="fade-up">Our Approach</h1>
    <p data-aos="fade-left">Our farm strictly combines the traditions of organic farming with the 
        latest to make  our healthy and safe for the clients.</p>
    <a href="/about" class="hero-btn3" data-aos="fade-down">OUR SERVICES</a>
</section>
<section class="producea">
    <div class="rowssa">
        <div class="produce-cola">
            <div class="produce-img-rowa">
                <div class="produce-img-cola" data-aos="fade-right">
                    <div class="abouta">
                        <img src="/images/Mozzarella.png" alt="" class="small-imgs"> 
                    </div>
                    <div class="abouta">
                        <h5>Mozzarella</h5>
                        <p>₦ 15500.00</p>
                    </div>
                </div>
                <div class="produce-img-cola" data-aos="fade-right">
                    <div class="abouta">
                        <img src="/images/milk.png" alt="" class="small-imgs"> 
                    </div>
                    <div class="abouta">
                        <h5>Milk</h5>
                        <p>₦ 4600.00</p>
                    </div>
                </div>
                <div class="produce-img-cola" data-aos="fade-right">
                    <div class="abouta">
                        <img src="/images/curd.png" alt="" class="small-imgs"> 
                    </div>
                    <div class="abouta">
                        <h5>Curd</h5>
                        <p>₦ 2000.00</p>
                    </div>
                </div>
                <div class="produce-img-cola" data-aos="fade-right">
                    <div class="abouta">
                        <img src="/images/cheese.png" alt="" class="small-imgs"> 
                    </div>
                    <div class="abouta">
                        <h5>Cheese</h5>
                        <p>₦ 12900.00</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="produce-cola">
            <section class="product-bannera" data-aos="fade-left">
                <h1>LIVESTOCK <br> PRODUCE</h1>
            </section> 
        </div>
    </div>
</section>
<section class="testimonials">
    <div class="container">
        <div class="title">
           <h1 data-aos="fade-down">Our Clients</h1>
        </div>
        <div class="slider" data-aos="fade-left">
            <div class="slide">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas auctor vitae felis. 
               Mauris nibh diam, pharetra eu nunc id, lobortis faucibus purus. Praesent sit amet urna id velit dignissim pellentesque.</p>
               <i class="fa fa-quote-right"></i>
               <div class="client-info">
                   <img src="/images/user1.jpg" alt="">
                   <h3>Timi Aroks</h3>
                   <span>Co-Founder at DNR</span>
               </div>
            </div>
            <div class="slide active">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas auctor vitae felis. 
               Mauris nibh diam, pharetra eu nunc id, lobortis faucibus purus. Praesent sit amet urna id velit dignissim pellentesque.</p>
               <i class="fa fa-quote-right"></i>
               <div class="client-info">
                <img src="/images/user2.jpg" alt="">
                   <h3>Praise Sough</h3>
                   <span>Co-Founder at DNR</span>
               </div>
            </div>
            <div class="slide">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas auctor vitae felis. 
               Mauris nibh diam, pharetra eu nunc id, lobortis faucibus purus. Praesent sit amet urna id velit dignissim pellentesque.</p>
               <i class="fa fa-quote-right"></i>
               <div class="client-info">
                <img src="/images/user3.jpg" alt="">
                   <h3>Edima Otu</h3>
                   <span>Founder at Chamba</span>
               </div>
            </div>
        </div>
        <div class="slider-indicators" data-aos="fade-right">
            <button data-id="0"></button>
            <button class="active" data-id="1"></button>
            <button data-id="2"></button>
        </div>
    </div>
</section>
<section class="about-ceo">
    <div class="ceo-row">
        <div class="ceo-col" data-aos="fade-right">
            <img src="/images/CEO_AED_group_Glenn_Roggeman.JPG" alt="image about the company" id="ProductImg" >
        </div>
        <div class="ceo-col" data-aos="fade-left">
            <h1>Word From the CEO</h1>
            <p>Dear Customer</p>
            <p>Welcome to ABs group, the total solution provider in the audiovisual industry.</p>
            <p>This gives you access to the latest technology, without endangering your balance sheet. Use our business tools at your convenience to grow your business. The unique elements in our group’s material banking model are neutral position on the market, the standardisation of the assets, the fixed rental rates structure and the continuous maintenance of the equipment.</p>
            <p>In this way, ABs group wants to be a complete, neutral and reliable partner to&nbsp;every professional.</p>
            <p>Get in touch with us, and discover how we can help to grow your business!</p>
            <p>Glenn Roggeman<br>
            CEO AED group</p>
        </div>
</section>
<section class="cta">
    <h4 data-aos="fade-down">Here to cater for all your organuc produce needs</h4>
    <a href="/contact" class="hero-btn4" data-aos="fade-right">CONTACT US</a>
</section>
<footer>
    <div class="footer-content" data-aos="fade-left">
        <h3>ABs Farm</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas auctor vitae felis. 
        Mauris</p>
        <ul class="socials">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>  
            <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>    
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2021 ABs Farm</p>
    </div>
</footer>
    
<script>
    var navLinks = document.getElementById("navLinks")
    function showMenu(){
        navLinks.style.right = "0px";
    }
    function hideMenu(){
        navLinks.style.right = "-200px";
    }
</script>

<script>    
    const slides=document.querySelector(".slider").children;
   const indicatorImages=document.querySelector(".slider-indicators").children;

    for(let i=0; i<indicatorImages.length; i++){
    	indicatorImages[i].addEventListener("click",function(){
         
           for(let j=0; j<indicatorImages.length; j++){
             indicatorImages[j].classList.remove("active");
           }
            this.classList.add("active");
            const id=this.getAttribute("data-id");
           for(let j=0; j<slides.length; j++){
           	slides[j].classList.remove("active");
           }
            slides[id].classList.add("active");
    	})
    }
</script>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script> -->
<script>
  AOS.init({
    offset: 140,
    delay: 0, 
    duration: 800
  });
</script>

</body>
</html>