<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What We Offer</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/productheader.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
</head>
<body>
    <section class="header">
        <nav>
            <a href="/"><img src="/images/a22b5e12c9264c7db20f00daa5d829f9.png" alt="Company Logo"></a>
            <div class="nav-links" id="navLinks">
                    <i class="fa fa-times" onclick="hideMenu()"></i>
                    <ul> 
                        <li><a href="/"> HOME</a></li>
                        <li><a href="/about"> ABOUT </a></li>
                        <li class="active"><a href="#">PRODUCTS</a></li>
                        <li></i><a href="/contact">CONTACT</a></li>
                    </ul>
                </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
    <div class="text-box">
        <h1>Products</h1>
        <p>Our farm strictly combines the traditions of organic farming with the latest innovations to make our products healthy and safe for the clients.</p>
    </div>
</section>  

<section class="small-containerr">
    <div class="roow row-2"> 
        <h2> </h2>
        <select name="" id="">
            <option value="">All products</option>
            <option value="">Sort by price</option>
        </select>
    </div>
    <div class="roow" data-aos="fade-up">
        <div class="col-4">
             <img src="images/product-6-164x120.png" alt="">
             <div class="overlay">
                 <button class="btn"> <a href="/shop"> <i class="fas fa-shopping-cart"></i>Add to Cart</a></button>
             </div>
             <h4>Cottage Cheese</h4>
             <p>₦ 3500</p>
        </div>
        <div class="col-4">
            <img src="/images/product-6-270x280.png" alt="">
            <div class="overlay">
                <button class="btn"> <a href="/shop"> <i class="fas fa-shopping-cart"></i>Add to Cart</a></button>
            </div>
            <h4>Corn</h4>
            <p>₦ 1500</p>
       </div>
       <div class="col-4">
            <img src="/images/product-3-270x280.png" alt="">
            <div class="overlay">
                <button class="btn"> <a href="/shop"> <i class="fas fa-shopping-cart"></i>Add to Cart</a></button>
            </div>
            <h4>Green Apples</h4>
            <p>₦ 5200</p>
        </div>
        <div class="col-4">
            <img src="/images/product-4-270x280.png" alt="">
            <div class="overlay">
                <button class="btn"> <a href="/shop"> <i class="fas fa-shopping-cart"></i>Add to Cart</a></button>
            </div>
            <h4>Kiwi</h4>
            <p>₦ 2000</p>
        </div>
        <div class="col-4">
             <img src="/images/product-8-270x280.png" alt="">
            <div class="overlay">
                <button class="btn"> <a href="/shop"> <i class="fas fa-shopping-cart"></i>Add to Cart</a></button>
                </div>
             <h4>Papaya</h4>
             <p>₦ 3500</p>
        </div>
        <div class="col-4">
            <img src="/images/product-7-270x280.png" alt="">
            <div class="overlay">
                <button class="btn"> <a href="/shop"> <i class="fas fa-shopping-cart"></i>Add to Cart</a></button>
                    </div>
            <h4>Brocoli</h4>
            <p>₦ 1500</p>
       </div>
       <div class="col-4">
            <img src="/images/milk.png" alt="">
            <div class="overlay">
                <button class="btn"> <a href="/shop"> <i class="fas fa-shopping-cart"></i>Add to Cart</a></button>
            </div>
            <h4>Milk</h4>
            <p>₦ 5200</p>
        </div>
        <div class="col-4">
            <img src="/images/product-1-270x280.png" alt="">
            <div class="overlay">
                <button class="btn"> <a href="/shop"> <i class="fas fa-shopping-cart"></i>Add to Cart</a></button>
            </div>
            <h4>Red Apples</h4>
            <p>₦ 2000</p>
        </div>
        <div class="col-4">
             <img src="/images/cheese.png" alt="">
            <div class="overlay">
                <button class="btn"> <a href="/shop"> <i class="fas fa-shopping-cart"></i>Add to Cart</a></button>
            </div>
             <h4>Cheese</h4>
             <p>₦ 3500</p>
        </div>
        <div class="col-4">
            <img src="/images/product-5-270x280.png" alt="">
            <div class="overlay">
                <button class="btn"> <a href="/shop"> <i class="fas fa-shopping-cart"></i>Add to Cart</a></button>
            </div>
            <h4>Avocado</h4>
            <p>₦ 1500</p>
       </div>
        <div class="col-4">
            <img src="/images/product-2-270x280.png" alt="">
            <div class="overlay">
                <button class="btn"> <a href="/shop"> <i class="fas fa-shopping-cart"></i>Add to Cart</a></button>
            </div>
            <h4>Berry</h4>
            <p>₦ 1500</p>
       </div>
        <div class="col-4">
            <img src="/images/curd.png" alt="">
            <div class="overlay">
                <button class="btn"> <a href="/shop"> <i class="fas fa-shopping-cart"></i>Add to Cart</a></button>
            </div>
            <h4>Curd</h4>
            <p>₦ 5200</p>
        </div>
        <div class="col-4">
            <img src="/images/product-5-190x158.png" alt="">
            <div class="overlay">
                <button class="btn"> <a href="/shop"> <i class="fas fa-shopping-cart"></i>Add to Cart</a></button>
            </div>
            <h4>Blue Cheese</h4>
            <p>₦ 4800</p>
        </div>
        <div class="col-4">
            <img src="/images/product-1-270x280.png" alt="">
            <div class="overlay">
                <button class="btn"> <a href="/shop"> <i class="fas fa-shopping-cart"></i>Add to Cart</a></button>
            </div>
            <h4>Corn</h4>
            <p>₦ 1500</p>
        </div>
        <div class="col-4">
            <img src="/images/product-2-270x280.png" alt="">
            <div class="overlay">
                <button class="btn"> <a href="/shop"> <i class="fas fa-shopping-cart"></i>Add to Cart</a></button>
            </div>
            <h4>Curd</h4>
            <p>₦ 2900</p>
        </div>
        <div class="col-4">
            <img src="" alt="">
            <h4></h4>
            <p></p>
        </div>
    </div>

    <div class="page-btn">
    </div>
</section>

<footer>
    <div class="footer-content" data-aos="fade-left">
        <h3>ABs Farm</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas auctor vitae felis. 
        Mauris</p>
        <ul class="socials">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>  
            <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>    
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2021 ABs Farm</p>
    </div>
</footer>
    
<script>
    var navLinks = document.getElementById("navLinks")
    function showMenu(){
        navLinks.style.right = "0px";
    }
    function hideMenu(){
        navLinks.style.right = "-200px";
    }
</script>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    offset: 150,
    delay: 0, 
    duration: 800
  });
</script>

</body>
</html>