<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming soon page</title>
    <link rel="stylesheet" href="/stylesheets/pings.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <header>
        <img src="/images/a22b5e12c9264c7db20f00daa5d829f9.png" alt="Company Logo" data-aos="fade-right">
        <ul>
        <li data-aos="fade-left"></i><a href="/products">Back to Products <span>&#8594;</span>  </a></li>
        </ul>
    </header>

    <main>
        <section>
            <img data-aos="fade-up" src="/images/egor-myznik-iv6t_q4ItuU-unsplash.jpg" alt="Image of farm produce">
        </section>

        <section>
            <div class="text" data-aos="fade-right">
                <h1>We are launching <span>soon</span></h1>
                    <p>We're currently building our new
                        store. Add your email below to stay up-to-date with
                        announcements and our launch deals.</p>
            </div>
                
            <div class="mail" data-aos="fade-left">
                <div class="email">
                    <input type="email" placeholder="Your email address..." name="email" id="mail">
                        <p id="comment"></p>
                </div>
                <div class="btn">
                    <button id="submit" type="submit">Notify me</button>
                </div>
                
            </div>
        </section>
    </main>

    <footer data-aos="fade-down">
        <div class="socials">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <div class="footer-text">
            <p>Copyright &copy;2021 ABs Farm</p>
        </div>
    </footer>


    <script src="/javascripts/pings.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 120,
            delay: 0,
            duration: 800
        });
    </script>
</body>
</html>