.header {
    min-height: 65vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../About/image/gabriel-tomaz-bdW8PRRsfv0-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .active a::after {
    content: '';
    width: 60%;
    height: 2px;
    background: lightslategray;
    display: block;
    position: absolute;
  }